.class {
    padding: 0.6em;
    border-radius: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
    width: 100%;
}

.class:hover {
    background-color: #ddd;
    cursor: pointer;
}

.selectedClass {
    composes: class;
    background-color: #ddd;
}

.valueBarContainer {
    width: 25em;
    height: 0.5em;
}

.valueBar {
    height: 100%;
    background-color: #3066BE;
}
